* {
  margin: 0;
}

.container {
}

.books-content {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.book {
  text-align: left;
  text-align-last: center;
  border: 2px solid lightgray;
  border-radius: 6px;
  width: 150px;
  padding: 8px;
}

.book-title {
  font-size: 20px;
}
